@model IEnumerable<SIS.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title text-blue-800 font-weight-bold">STUDENT LIST</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="btn-group btn-group-toggle float-right">
            <a asp-action="Create" class="btn btn-primary"> <i class="icon-pen-plus mr-1"></i> Create</a>
        </div>
        <div class="table-responsive">
            <table class="table datatable-responsive">
                <thead class="bg-primary">
                    <tr>
                        <th>No</th>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.NIS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BoD)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Religion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MajorID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{int no = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="3%">@(no)</td>
                            <td width="5%">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a asp-action="Edit" class="dropdown-item" asp-route-id="@item.NIS"><i class="icon-database-edit2 mr-2"></i>Edit</a>
                                            <a asp-action="Delete" id="@item.NIS" class="sweet_warning dropdown-item"><i class="icon-trash mr-2"></i>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td width="15%">
                                @Html.DisplayFor(modelItem => item.NIS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.BoD)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.Religion)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.Major.MajorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                        </tr>
                        no++;
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.sweet_warning').on('click', function () {
            $id = this.id;
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false

            }).then(function () {
                if (event.target.classList[0] == "swal2-confirm") {
                    $.ajax({
                        method: "POST",
                        url: "/Student/Delete",
                        dataType: "JSON",
                        data: { id: $id },
                        success: function (response) {
                            swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then(function () {
                                window.location.href = "/Student/Index";
                            });
                        },
                        error: function (response) {
                            alert("error!");  //
                        }
                    });
                } else {
                    swal.close();
                }
            }, function (dismiss) {

                // Dismiss can be 'cancel', 'overlay', 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    );
                }
            });
            return false;
        });
    });
</script>